:root{
  --swiper-theme-color: none !important;
}

body {
  background: -webkit-linear-gradient(90deg, #000000, #7503a6, #000000);
  background: linear-gradient(90deg, #000000, #7503a6, #000000);
  margin: 0;
}
  
.container {
  position: relative;
	border-radius: 10px;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  background-color: aliceblue;
  height: auto;
  background: -webkit-linear-gradient(90deg, #9166c4, #8c20e6);
  background: linear-gradient(90deg, #9166c4, #8c20e6);
  box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}

.swiper-wrapper {
  min-height: 120% !important;
}

.swiper-slide {
  overflow: hidden;
}

.swiper-scrollbar {
  position: static !important;
  margin-top: 5px;
}

.swiper-button-prev {
  display: none !important;
}

.swiper-button-next {
  display: none !important;
}

.swiper-scrollbar{
  height: 8px !important;
}